section {
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(247, 247, 247);
      
    pre {
    font-family: monospace;
    font-size: 14px;
    white-space: pre-wrap;
    }
}

  